:root{
    --Champain : #f0d8b8;
    --Peach : #e6b794;
    --Ivory : #FFF8EE;
    --Carafe : #634f40;
}



body {
    background-color:var(--Ivory);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space between the logo and nav items */
    padding: 10px 20px; /* Adds some padding around the nav bar */
    background-color:var(--Peach);
}

.navlist {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Allows the nav items to grow and push the Sign In to the right */
    justify-content: flex-start; /* Aligns nav items to the start */
}
.navlist a{
    text-decoration:none;
    color: black;
    font-weight: bold;
}

.navlist li {
    margin-left: 20px;
}

.navlist .sign-in {
    margin-left: auto; /* Pushes the Sign In item to the right */
}

#navigation img {
    width: 200px; 
    margin-right: 20px; 
}

#widgets {
    display: flex;
    background-color: var(--Ivory); 
    overflow-y:hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;


    
}

#widgets div {
    background-color:var(--Champain);
    border-radius: 6px;
    padding: 10px 20px; /* Adds some padding around the nav bar */
    width: 275px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 10px;
    margin-right: 10px;
}

#widgets div ul{
    list-style-type: none;
    padding: 0;
}

#widgets div img{
    
    width: 120px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#widgets div p{
    text-align: center;
   
    
}

#widgets div h4{
    text-align:center;
}


#widgets div button{
    background-color: var(--Peach);
    color: var(--Carafe);
    width: 135px;
    height: 25px ;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    text-align:center;
       
}
 
button:hover {
    background-color: var(--Carafe);
    color: var(--Champain);
}
footer{
    background-color: var(--Peach);

    text-align: center;
}


svg{
    padding: 7.5px;
}

svg :hover{
    cursor: pointer;  
}

#heading{
 text-align: center;
}

/*@media screen {

    
}*/

