/* secondary navigation for bootcamp items */

.secondary-nav{
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: solid;
    border-color: #FFF8EE;
    background-color: #E6B794;
}
.secondary-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.secondary-nav-list a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#secondary-nav-items{
    margin: 1rem;
    border-style: solid;
    border-color: #FFF8EE;
    background-color: #E6B794;
}

/* description section */

#bootcamp-content{
    display: flex;
}

#bootcamp-content img{
    width: 10rem;
    margin-left: 10rem;
    margin-top: 3rem;
    margin-bottom: 2rem;

}
.bootcamp-description{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

/* secondary nav items loaded */

.courses-description{
    margin-left: 2rem;;
}

/* bootcammp review section */

#bootcamp-review-h{
    margin: 2rem;
}

.review-description{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 2rem;
}

.review-card{
    display: flex;
    background-color: #F0D8B8;
    padding: 1rem;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
}

.review-card-details{
   margin-left: 2rem;
   margin-right: 2rem;
   margin-top: -1rem;
}

.readmore{
    margin-left: 2rem;
    margin-bottom: 2rem;
    background-color: #F0D8B8;
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
}