:root{
    --Champain : #f0d8b8;
    --Peach : #e6b794;
    --Ivory : #f3f0e9;
    --Carafe : #634f40;
}



body {
    background-color:var(--Champain);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space between the logo and nav items */
    padding: 10px 20px; /* Adds some padding around the nav bar */
    background-color:var(--Peach);
}

.navlist {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Allows the nav items to grow and push the Sign In to the right */
    justify-content: flex-start; /* Aligns nav items to the start */
}
.navlist a{
    text-decoration:none;
    color: black;
    font-weight: bold;
}

.navlist li {
    margin-left: 20px;
}

.navlist .sign-in {
    margin-left: auto; /* Pushes the Sign In item to the right */
}

#navigation img {
    width: 200px; 
    margin-right: 20px; 
}

div{
    align-items: center;
    justify-content: space-between; /* Ensures space between the logo and nav items */
    padding: 10px 20px; /* Adds some padding around the nav bar */
    background-color: var(--Peach); 
}
button{
    background-color: var(--Champain);
    color: var(--Carafe);
    width: 135px;
    height: 25px ;
    border-radius: 6px;
    cursor: pointer;
    
}
 
button:hover {
    background-color: var(--Carafe);
    color: var(--Champain);
}
footer{
    background-color: var(--Carafe);

    text-align: center;
}


svg{
    padding: 6.5px;
}

#heading{
 text-align: center;
}